$app-theme: (
    50: red,
    100 : orange,
    200 : green,
    300 : coral,
    400 : violet,
    500 : blue,
    600 : white,
    700 : white,
    800 : white,
    900 : white,
    A100 : white,
    A200 : white,
    A400 : white,
    A700 : white,

    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
)
